<%- include('header'); -%>
    <h2 style="text-align: center;">This is the about page</h2>
    <p style="text-align: center; width: 60%; line-height: 1.4; margin: auto;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum nostrum repellat eveniet dicta officiis odio totam saepe blanditiis ut accusantium? Sapiente itaque perferendis quod dolores sed? Reiciendis in, repellat nemo delectus, perferendis beatae nostrum nesciunt cum tempore, deserunt pariatur amet!</p>
<%- include('footer'); -%>  